*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.primary-btn{
    background-color: #E02C6D;
    padding: 15px 35px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.125rem;
    border-radius: 8px;
    cursor: pointer;
}

/* shared style */
.primary-text-clr{
    color: #3A3A3A;
}
.secondary-text-clr{
    color: rgba(120, 120, 133, 1);
}

/* shared style end */
body{
    background-color: rgba(245, 245, 220, 0.123);
}
header, main{
    max-width: 1440px;
    margin: 0 auto; 
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
#menu-icon{
    display: none;
}
#brand-name{
    font-weight: bold;
    font-size: 1.5rem;
}
.menubar{
    display: flex;
    gap: 35px;
    align-items: center;  
}
.menubar ul a{
    text-decoration: none;
    font-weight: 600;
    font-size: 1.25rem;
}
.banner{
    display: flex;
    align-items: center;
    gap: 80px;
    padding-top: 50px;
    /* border: 2px solid tomato; */
    /* background-image: url(../assets/images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: right 180px center;
    background-size: 500px 450px; */

}
.banner-img{
    background-image: url(../assets/images/Circle\ design.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 450px 450px;
    padding: 50px;
}
.banner-content{
    width: 50%;
}
#banner-title{
    font-weight: bold;
    font-size: 3.25rem;
}
#banner-paragraph{
    font-weight: 600;
    font-size: 1rem;
    margin-top: 25px;
    margin-bottom: 30px;
}


/* media query start */

/* mobile device  */

@media screen and (max-width: 576px) {

    #menu-icon{
        display: block;
        width: 30px;
        height: 30px;
    }
    #search-icon{
        display: none;
    }
    #shopping-cart{
        width: 30px;
        height: 30px;
    }
    .menubar ul{
        display: none;
    }
    .navbar{
        align-items: center;
        width: 90%;
        margin: 0 auto;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner-content{
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .banner-img img{
        width: 100%;
        padding: 0px;
    }
    .banner-img{
       padding-top: 25px;
       background-size: calc(100% - 40px);
       background-position: center;
       
    }
}